.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.color-success {
  color: #67C23A;
}
.color-warn {
  color: #E6A23C;
}
.color-danger {
  color: #F56C6C;
}
.color-info {
  color: #909399;
}

.bg-color-success {
  background-color: #67C23A;
}
.bg-color-warn {
  background-color: #E6A23C;
}
.bg-color-danger {
  background-color: #F56C6C;
}
.bg-color-info {
  background-color: #909399;
}
