.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.vertical-align-top {
  vertical-align: top;
}
.vertical-align-middle {
  vertical-align: middle;
}
.vertical-align-bottom {
  vertical-align: bottom;
}

.justify-content-start {
  display: flex;
  justify-content: start;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}
.justify-content-end {
  display: flex;
  justify-content: end;
}

.align-items-start {
  display: flex;
  align-items: start;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.align-items-end {
  display: flex;
  align-items: end;
}

.color-primary {
  color: #409EFF;
}
.color-success {
  color: #67C23A;
}
.color-warn {
  color: #E6A23C;
}
.color-danger {
  color: #F56C6C;
}
.color-info {
  color: #909399;
}

.bg-color-primary {
  background-color: #409EFF;
}
.bg-color-success {
  background-color: #67C23A;
}
.bg-color-warn {
  background-color: #E6A23C;
}
.bg-color-danger {
  background-color: #F56C6C;
}
.bg-color-info {
  background-color: #909399;
}
